<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/686b8b1b-56cb-48d0-ad64-265c1e81eacd/resourceGroups/resumebuilder/providers/Microsoft.Web/sites/ResumeBuilder20180702022532</ResourceId>
    <ResourceGroup>resumebuilder</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://resumebuilder20180702022532.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>resumebuilder20180702022532.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ResumeBuilder20180702022532</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ResumeBuilder20180702022532</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User ID=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n" Name="Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User Id=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ResumeBuilder.Models.ApplicationDbContext, ResumeBuilder" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResumeBuilderEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User ID=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n" Name="Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User Id=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ResumeBuilder.Models.ResumeBuilderEntities, ResumeBuilder" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ResumeBuilderEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ResumeBuilder.csdl|res://*/Models.ResumeBuilder.ssdl|res://*/Models.ResumeBuilder.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User Id=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:resumebuilder20180627105555dbserver.database.windows.net,1433;Initial Catalog=ResumeBuilder20180702022532_db;User Id=ARRON_014@resumebuilder20180627105555dbserver;Password=Ar01!J$n</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>